:root {
  --bg-azul-1: #00273c;
  --bg-azul-2: #186adc;
  --bg-azul-3: #00b4fe;
  --bg-verde-1: #05bc14;
  --bg-verde-2: #015b1d;
  --bg-amarillo-1: #fef41b;
  --bg-amarillo-2: #ffff00;
  --bg-amarillo-3: #d79f00;
}

html {
  font-size: 62.5%;
  letter-spacing: 0.03rem;
}

body {
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none !important;
  color: currentColor !important;
}

a.hover {
  color: currentColor !important;
}

header {
  padding: 0 !important;
  margin: 0;
}

header .header_bg {
  width: 100%;
  background-color: var(--bg-azul-1);
  padding: 1rem 0;
  display: flex;
  align-items: center;
  box-shadow: 9px 77px 100px -3px rgba(0, 0, 0, 0.1);
}

header .header_bg .header_social {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
}

header .header_bg .header_social .logo img {
  max-width: 70px;
  width: 100%;
}

header .header_bg .header_social .detalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .header_bg .header_social .detalle h1 {
  font-size: 3.5rem;
  font-weight: bold;
  color: var(--bg-azul-3);
}

header .header_bg .header_social .detalle h3 {
  font-size: 2rem;
  font-weight: 400;
  color: var(--bg-amarillo-2);
}

header .header_bg .header_social .social {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

header .header_bg .header_social .social :is(.email, .telefono) {
  color: #c1c1c1;
  transition: color 0.2s;
  font-weight: 500;
}

header .header_bg .header_social .social :is(.email:hover, .telefono:hover) {
  color: white;
}

header .header_bg .header_social .social .redes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  color: var(--bg-verde-1);
}

header .header_bg .header_social .social .redes a {
  margin-top: 0.5rem;
  width: 3.2rem;
  height: 3.2rem;
  background-color: rgba(255, 255, 255, 0.079);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

/* main {
} */

main .main_bg {
  margin-top: 2rem;
  height: 100%;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  background-color: var(--bg-azul-1);
  bottom: 0;
  padding: 0;
  box-shadow: 0px -9px 16px 0px rgba(0, 0, 0, 0.561);
}

footer .footer_bg {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}

footer .footer_bg a {
  border: none;
  font-size: 2.5rem;
  border-radius: 5rem;
  padding: 1rem 2rem;
  background-color: var(--bg-azul-3);
  color: white !important;
  font-weight: bold;
  animation: mover ease-in 2s infinite;
  cursor: pointer;
  transition: background-color 0.2s;
}

@keyframes mover {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-10px);
  }
}

footer .footer_bg a:hover {
  background-color: #0089c0;
}
