section .container__alcalde {
  display: flex;
  flex-direction: column;
  max-width: 1440px;
  width: 100%;
}

section .container__alcalde .__card__datos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 0;
}

@media screen and (max-width: 1440px) {
    section .container__alcalde .__card__datos {
        padding: 2rem;
    }
}

section .container__alcalde .__card__datos .__contenido {
  background-color: var(--azul-1);
  border-top: 1rem solid var(--amarillo-8);
  border-bottom: 1rem solid var(--amarillo-8);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 100%;
}

section .container__alcalde .__card__datos .__contenido .card__img {
  width: 30rem;
  height: 30rem;
  background-color: var(--gris-8);
  border-radius: 100%;
  object-fit: cover;
  overflow: hidden;
  cursor: pointer;
  border: 0.4rem dashed var(--azul-7);
  background-color: var(--azul-1);
  /* box-shadow: 0px 10px 15px -3px rgba(0, 255, 0, 0.1); */
}

section .container__alcalde .__card__datos .__contenido .card__img img {
  border-radius: 100%;
  transition: transform 250ms ease-in;
}

section .container__alcalde .__card__datos .__contenido .card__img img:hover {
  transform: scale(1.1);
}

section .container__alcalde .__card__datos .__contenido .__datos_personales {
  color: var(--blanco);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

section .container__alcalde .__card__datos .__contenido .__datos_personales h1 {
  margin-top: 2rem;
  font-size: 3rem;
  font-weight: bold;
}

section .container__alcalde .__card__datos .__contenido .__datos_personales h3 {
  margin-top: 1rem;
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--azul-7);
}

section .container__alcalde .__card__datos .__contenido .__datos_personales h4 {
  color: var(--amarillo-8);
  font-size: 1.7rem;
}

section
  .container__alcalde
  .__card__datos
  .__contenido
  .__datos_personales
  span {
  display: flex;
  justify-content: center;
  align-items: center;
}

section
  .container__alcalde
  .__card__datos
  .__contenido
  .__datos_personales
  span
  a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 1.5rem;
  color: var(--verde-5);
  font-weight: 500;
  transition: opacity 250ms;
}

section
  .container__alcalde
  .__card__datos
  .__contenido
  .__datos_personales
  span
  a:hover {
  opacity: 0.8;
}

section
  .container__alcalde
  .__card__datos
  .__contenido
  .__datos_personales
  span
  a
  i {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--blanco);
}

section .container__alcalde .__card__datos .__contenido .__saludo_resumido {
    width: 50%;
    color: var(--blanco);
    padding: 2rem 0;
}

section .container__alcalde .__card__datos .__contenido .__saludo_resumido p {
    text-align: center;
    margin: 0;
}

section .container__alcalde .__data__saludo {
    background-color: var(--blanco);
    /* flex: 1 45rem; */
    display: flex;
    justify-content: center;
    padding: 2rem;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
}

section .container__alcalde .__data__saludo .__saludo {
    flex: 1 45rem;
    padding-right: 2rem;
}

section .container__alcalde .__data__saludo .__saludo h1 {
    color: var(--azul-3);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    font-size: 4rem;
}

section .container__alcalde .__data__saludo .__saludo h1 span {
    font-size: 1.6rem;
    color: var(--verde-5);
    font-weight: 600;
}

section .container__alcalde .__data__saludo .__saludo p {
    text-align: justify;
    margin: 0;
    margin-top: 1.5rem;
}

section .container__alcalde .__data__saludo .__vitae {
    flex: 1 40rem;
}

section .container__alcalde .__data__saludo .__vitae iframe{
    width: 100%;
    height: 50rem;
}