
section .__container__funcionarios {
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
}

section .__container__funcionarios
.__contenedor__funcionarios{
  display: flex;
  align-items: center;
justify-content: center;
height: 10vh;
margin-top: 2rem;
}
section .__container__funcionarios
.__contenedor__funcionarios
.__container__imagen{
 display: flex;
  justify-content: center;
  align-items: center;
opacity: 0.9;
  border-radius: 1.2rem;
  width: 100%;
  height: 100%;
  background-size: cover;

}

section .__container__funcionarios .__contenedor__funcionarios .__container__imagen .__card__title{
  display: flex;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100%;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
  



   
}
section .__container__funcionarios .__contenedor__funcionarios .__container__imagen .__card__title h3{
  font-size: 3vw;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  color:white;
  animation-name: __text_historia_title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0;
 
}
section .__container__funcionarios .__contenedor__funcionarios .__container__imagen .__card__title h3{
  animation: updown 2s infinite;
}

@keyframes updown {
  0% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(5px);
  }
}



/*---------------estructura de los card de los funcionarios-------------*/
section .__container__funcionarios .__card__funcionarios {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0;
  justify-content: space-between;
  
  
}

@media (max-width: 1260px) {
  section .__container__funcionarios .__card__funcionarios {
    /* justify-content: space-around; */
    margin-bottom: 2rem;
  }
}

section .__container__funcionarios .__card__funcionarios .__card {
  max-width: 21rem;
  width: 100%;
  height: 30rem;
  margin-top:1.2rem;
}

@media (max-width: 1260px) {
  section .__container__funcionarios .__card__funcionarios .__card{
    margin-bottom: 2rem;
  }
}

section .__container__funcionarios .__card__funcionarios .__card .__card__user {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #f5f5f5;
  color: #252525;
  border-radius: 1rem;
  overflow: hidden;
  line-height: 150%;
  box-shadow: 0px 10px 20px rgba(80, 80, 80, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

section
  .__container__funcionarios
  .__card__funcionarios
  .__card
  .__card__user
  .__card__img {
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: transform 0.3s ease-in-out;
  z-index: 2;
}

section
  .__container__funcionarios
  .__card__funcionarios
  .__card
  .__card__user
  .__social__media {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0 1rem;
  transform: translateY(-6em);
  z-index: 3;

}
section
.__container__funcionarios
.__card__funcionarios
.__card
.__card__user
.__social__media a{
  color: inherit;
  text-decoration: none;
}

section
  .__container__funcionarios
  .__card__funcionarios
  .__card
  .__card__user
  .__social__media
  li {
  height: 5rem;
  width: 5rem;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s ease-in;
}

section
  .__container__funcionarios
  .__card__funcionarios
  .__card
  .__card__user
  .__social__media
  li
  i {
  font-size: 2rem;
}

section
  .__container__funcionarios
  .__card__funcionarios
  .__card
  .__card__user
  .__card__info {
  position: absolute;
  bottom: 0.1rem;
  width: 100%;
  
  text-align: center;
  background-color:aliceblue;
  
  flex-direction: column;
  margin-top: 0.1rem;
  height: 90px;
}

section
  .__container__funcionarios
  .__card__funcionarios
  .__card
  .__card__user
  .__card__info
  .__card__title {
    margin-top: 0.1rem;
    font-size: 1.5rem;
  font-weight: bold;
white-space: nowrap;
overflow: hidden;
max-width: 100%;
text-overflow: ellipsis;

}


section
  .__container__funcionarios
  .__card__funcionarios
  .__card
  .__card__user
  .__card__info
  .__card__subtitle {
    letter-spacing: 0.1rem;
    /* font-size: clamp(0.9vw, 1.1vw, 1.4rem); */
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
 max-width: 100%;
 text-overflow: ellipsis; 
}

/* Hovers */
.__card__user:hover {
  box-shadow: 0px 15px 30px rgba(80, 80, 80, 0.3);
}

.__card__user:hover .__card__img {
  transform: translateY(-9.5rem);
  filter: blur(0.1rem);
}

.__card__user:hover .__social__media li {
  transform: translateY(-5%);
  opacity: 1 !important;
}

.__card__user:hover .__social__media li:nth-child(1) {
  transition-delay: 0s;
}

.__card__user:hover .__social__media li:nth-child(2) {
  transition-delay: 0.1s;
}

.__card__user:hover .__social__media li:nth-child(3) {
  transition-delay: 0.2s;
}
