section .__container__funcionarios {
  display: flex;
  flex-direction: column;
}

section .__container__funcionarios .__card__title {
  display: flex;
  flex-wrap: wrap;
}

section .__container__funcionarios .__card__title .__item__description {
  flex: 4 80px;
  display: flex;
  flex-flow: column wrap;
  padding: 12rem 8rem;
}

section .__container__funcionarios .__card__title .__item__description h1 {
  font-size: 4rem;
  font-weight: 700;
  text-transform: capitalize;
  letter-spacing: 0.01rem;
  text-align: center;
  margin-bottom: 1.5rem;
  color: var(--azul-5);
}

section .__container__funcionarios .__card__title .__item__description p {
  text-align: justify;
  margin-bottom: 1.5rem;
  font-size: 1.4rem;
}





section .__container__funcionarios .__card__title .__item__img {
  flex: 8 80px;
}





















section .__container__funcionarios .__card__funcionarios {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0;
  justify-content: space-between;
}