section .__card__header__historia {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100%;
}

section .__card__header__historia .__card__historia__title {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12rem;
  background-size: cover;
  border-radius: 1.2rem;
}

section
  .__card__header__historia
  .__card__historia__title
  .__card__historia__title__body {
  width: 100%;
  height: 100%;
  background-color: #6bc5d13b;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

section
  .__card__header__historia
  .__card__historia__title
  .__card__historia__title__body
  h3 {
  font-size: 4rem;
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Nunito", sans-serif;
  color: white;
  animation-name: __text_historia_title;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  margin: 0;
}

@keyframes __text_historia_title {
  75% {
    transform: translateY(5px);
  }
}

section .__card__body__historia {
  display: flex;
  flex-wrap: wrap;
  margin: 4rem 0;
}

section .__card__body__historia .__card__historia__informacion {
  flex: 9 420px;
  padding-right: 1rem;
}

section .__card__body__historia .__card__historia__informacion .__card__texto {
  padding: 3rem;
  border-radius: 0.5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #f2f8f9;
  overflow: hidden;
  z-index: 0;
}

section
  .__card__body__historia
  .__card__historia__informacion
  .__card__texto
  .__go__corner {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem 1rem 1.4rem 1.4rem;
  background-color: #00838d;
  color: white;
  border-radius: 0 0.5rem 0 2.4rem;
}

section
  .__card__body__historia
  .__card__historia__informacion
  .__card__texto::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  background: #00838d;
  height: 3rem;
  width: 3rem;
  border-radius: 3rem;
  transform: scale(1);
  transform-origin: 50% 50%;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: ease-in-out;
}

section
  .__card__body__historia
  .__card__historia__informacion
  .__card__texto:hover::before {
  transform: scale(60);
}

section
  .__card__body__historia
  .__card__historia__informacion
  .__card__texto
  h2 {
  font-family: "Nunito", sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-azul3-muni);
}

section
  .__card__body__historia
  .__card__historia__informacion
  .__card__texto:hover
  h2 {
  color: var(--color-amarillo2-muni);
}

section
  .__card__body__historia
  .__card__historia__informacion
  .__card__texto
  p {
  text-align: justify;
  font-size: 1.4rem;
}

section
  .__card__body__historia
  .__card__historia__informacion
  .__card__texto:hover
  p {
    color: white;
}

section
  .__card__body__historia
  .__card__historia__informacion
  :is(.__card__mision, .__card__vision) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 3rem 0;
}

section
  .__card__body__historia
  .__card__historia__informacion
  :is(
    .__card__mision .__card__mision_header,
    .__card__vision .__card__vision_header
  ) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

section
  .__card__body__historia
  .__card__historia__informacion
  :is(
    .__card__mision .__card__mision_header .__card__mision__title,
    .__card__vision .__card__vision_header .__card__vision__title
  ) {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
  background-size: cover;
  border-radius: 0.7rem;
}

section
  .__card__body__historia
  .__card__historia__informacion
  :is(
    .__card__mision
      .__card__mision_header
      .__card__mision__title
      .__card__title__img,
    .__card__mision
      .__card__mision_header
      .__card__mision__title
      .__card__title__img
  ) {
  width: 100%;
  height: 100%;
  background-color: #cfd16b3b;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
  align-items: center;
}

section
  .__card__body__historia
  .__card__historia__informacion
  :is(
    .__card__mision
      .__card__mision_header
      .__card__mision__title
      .__card__title__img,
    .__card__vision
      .__card__vision_header
      .__card__vision__title
      .__card__title__img
  )
  h2 {
  color: #ffffff;
  font-size: 3.5rem;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

section
  .__card__body__historia
  .__card__historia__informacion
  :is(
    .__card__mision .__card__mision_header .__card__mision__body,
    .__card__vision .__card__vision_header .__card__vision__body
  ) {
  padding: 3rem;
  text-align: justify;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
  border-radius: 1rem;
}

section
  .__card__body__historia
  .__card__historia__informacion
  :is(
    .__card__mision .__card__mision_header .__card__mision__body p,
    .__card__vision .__card__vision_header .__card__vision__body p
  ) {
  font-size: 1.4rem;
}

section .__card__body__historia .__card__historia__carrusel {
  flex: 3 300px;
  padding-left: 1rem;
  display: flex;
  justify-content: center;
}

section
  .__card__body__historia
  .__card__historia__carrusel
  .__card__slider__historia {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

section
  .__card__body__historia
  .__card__historia__carrusel
  .__card__slider__historia
  .__card__img__slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
  overflow: hidden;
}

section
  .__card__body__historia
  .__card__historia__carrusel
  .__card__slider__historia
  .__card__img__slider:nth-last-child(1) {
  margin: 0;
}

section
  .__card__body__historia
  .__card__historia__carrusel
  .__card__slider__historia
  .__card__img__slider
  img {
  width: 100%;
  height: 20rem;
  object-fit: cover;
  transition: transform 400ms;
  border-radius: 1rem;
}

section
  .__card__body__historia
  .__card__historia__carrusel
  .__card__slider__historia
  .__card__img__slider:hover
  img {
  transform: scale(1.2);
}
