/* diseño del main */
/* diseño de los enlaces */

section.container-section .card__father__enlace {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.5rem;
  width: 100%;
  max-width: 1320px;
  background-color: white;
  transform: translateY(-20px);
  border-radius: 2rem;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1), 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  perspective: 1000px;
}

@media (max-width: 1350px) {
  section.container-section .card__father__enlace {
    justify-content: space-around;
  }
}

section.container-section .card__father__enlace .card__enlace {
  width: 204px;
  height: 100px;
  margin-right: 10px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 1s;
}

section.container-section .card__father__enlace .card__enlace:nth-child(n){
  margin-right: 0;
}

@media (max-width: 1350px) {
  section.container-section .card__father__enlace .card__enlace {
    /* width: 100%;
    height: 100%; */
    max-width: 204px;
    max-height: 100px;
  }
}

section.container-section .card__father__enlace .card__enlace :is(.card__front, .card__back) {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 1rem;
  background-size: cover;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.container-section .card__father__enlace .card__enlace:hover {
  transform: rotateY(180deg);
}

section.container-section .card__father__enlace .card__enlace .card__back {
  transform: rotateY(180deg);
}

section.container-section .card__father__enlace .card__enlace .card__front .card__front__body {
  background-color: #ffffff05;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(25px);
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

section.container-section .card__father__enlace .card__enlace .card__front .card__front__body i {
  font-size: 4rem;
}

section.container-section .card__father__enlace .card__enlace .card__back .card__back__body {
  background-color: #7cd8582c;
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(25px);
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

section.container-section .card__father__enlace :is(.card__front .card__front__body, .card__back .card__back__body) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  overflow: hidden;
  color: white;
}

section.container-section .card__father__enlace :is(.card__front .card__front__body, .card__back .card__back__body) h4 {
  font-weight: bold;
  font-size: 2rem;
}

/* fin del diseño de los enlaces */

main section.container-section h2 {
  color: var(--color-azul-muni);
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  line-height: 1.2em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  text-transform: uppercase;
  margin: 0;
}

main section.container-section h2 i {
  padding: 0 20px;
}

main section.container-section .box-noticias {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin-bottom: 50px;
}

main section.container-section .box-noticias .box-item {
  width: 425px;
  box-shadow: 0 0 45px rgba(0, 0, 0, 0.08);
}

main section.container-section .box-noticias .box-item .box-images {
  width: 100%;
  overflow: hidden;
}

main section.container-section .box-noticias .box-item .box-images img {
  width: 100%;
  transition: transform 0.5s ease;
}

main section.container-section .box-noticias .box-item .box-images:hover img {
  transform: scale(1.2);
}

main section.container-section .box-noticias .box-item .box-publicacion {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  display: flex;
  border-bottom: 1px solid var(--color-gris-1);
}

main section.container-section .box-noticias .box-item .box-publicacion p {
  margin: 0;
  padding: 10px;
  color: var(--color-gris-3);
  text-align: center;
  font-size: 1.4rem;
}

main section.container-section .box-noticias .box-item .box-publicacion p:nth-child(1) {
  border-right: 1px solid var(--color-gris-1);
}

main section.container-section .box-noticias .box-item .box-publicacion p i {
  color: #97c237;
  margin-right: 10px;
}

main section.container-section .box-noticias .box-item .box-contenido {
  display: flex;
  flex-direction: column;
  padding: 0 10px 10px 10px;
}

main section.container-section .box-noticias .box-item .box-contenido h3 {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 10px 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
  text-align: center;
  color: var(--color-azul-muni);
}

main section.container-section .box-noticias .box-item .box-contenido p {
  margin: 0;
  padding-top: 0;
  text-align: justify;
  font-family: "Nunito", sans-serif;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

main section.container-section .box-noticias .box-item .box-contenido a {
  text-align: end;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 13px;
  color: var(--color-verde-3);
}

/* fin del main */

/* diseño de slider historia */
section.container-section .swiffy-cultura .slider-container li .card {
  border: none;
}

section.container-section .swiffy-cultura .slider-container li .card .card-body p.lead {
  text-align: center;
  font-weight: 600;
  color: var(--color-azul-muni);
  font-size: 22px;
}

/* fin diseño de slider historia */