@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

:root {
  --color-gris-1: #dcdcdc;
  --color-gris-2: #bdbbbb;
  --color-gris-3: #8c8c8c;
  --color-gris-4: #f9f9f9;
  --color-verde-1: #05bc14;
  --color-verde-1-hover: #05bc1419;
  --color-verde-2: #19a825;
  --color-verde-3: #97c237;
  --color-celeste-1: #48a6e1;
  /* colores de la MDESV */
  --color-verde-muni: #015b1d;
  --color-verde2-muni: #00ba46;
  --color-gris-muni: #808080;
  --color-gris2-muni: #e6e6e6;
  --color-amarillo-muni: #837b00;
  --color-amarillo2-muni: #fef41b;
  --color-azul-muni: #015581;
  --color-azul2-muni: #00b4fe;
  --color-azul3-muni: #00273c;
  --color-azul2-hover-muni: #00b6fe1f;

  /* colores MDESV real */
  --negro-1: #000000;
  --negro-2: #303036;
  --gris-1: #808080;
  --gris-2: #959595;
  --gris-3: #c5c3c3;
  --gris-4: #c5c3c3;
  --gris-5: #b0afaf;
  --gris-6: #c9c9c9;
  --gris-7: #dbdada;
  --gris-8: #ebebeb;
  --gris-9: #faf7f7;
  --blanco: #ffffff;
  --azul-1: #00273c;
  --azul-4: #0000ff;
  --azul-5: #186adc;
  --azul-7: #00b4fe;
  --azul-20: #f3f7ff;

  
  --amarillo-1: #fef41b;
  --amarillo-4: #ffff00;

  --verde-1: #069117;
  --verde-4: #03c41a;
  --verde-5: #01ac14;

  --bg-btn-primary: #008cff;
  --bg-btn-danger: #ff0000;
  --bg-btn-primary-hover: #017ce1;
  --bg-btn-primary-soft: #00b3ff13;
  --bg-btn-primary-soft-hover: #006eff30;
  --bg-btn-primary-soft-border: #008cff4b;



  --bg-light: #f8f9fa;
}

/* Estilos personalizados */
/* Botones */

.btn-bg-primary {
  text-decoration: none;
  background-color: var(--bg-btn-primary);
  color: var(--blanco);
  padding: 1rem 2rem;
  border-radius: 1.8rem;
  font-size: 1.5rem;
  transition-property: opacity;
  transition-duration: 250ms;
  border: none;
}

.btn-bg-danger {
  text-decoration: none;
  background-color: var(--bg-btn-danger);
  color: var(--blanco);
  padding: 1rem 2rem;
  border-radius: 1.8rem;
  font-size: 1.5rem;
  transition-property: background-color;
  transition-duration: 250ms;
  border: none;
}

.btn-bg-primary:hover {
  color: white;
  opacity: 0.9;
}

.btn-bg-danger:hover {
  color: white;
  opacity: 0.8;
}

.btn-bg-primary-soft {
  text-decoration: none;
  background-color: var(--bg-btn-primary-soft);
  color: var(--bg-btn-primary);
  border: 1px solid var(--bg-btn-primary-soft-border);
  padding: 1rem 2rem;
  border-radius: 1.8rem;
  font-size: 1.5rem;
  transition-property: background-color;
  transition-duration: 250ms;
}

.btn-bg-primary-soft:hover {
  background-color: var(--bg-btn-primary-soft-hover);
}
/* Fin de estilos personalizados */

html {
  font-size: 62.5%;
  letter-spacing: 0.03rem;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* dise単o de la cabecera principal de contactos */

a {
  text-decoration: none;
  color: currentColor;
}

a.hover {
  color: currentColor;
}

header.cabecera-contactos {
  width: 100%;
  background-color: var(--negro-2);
  padding: 1rem;
  display: flex;
  justify-content: center;
}

header.cabecera-contactos .container-content {
  display: flex;
  width: 100%;
  max-width: 1440px;
  align-items: center;
  justify-content: space-between;
}

header .container-content .item-contactos,
header .container-content .item-redessociales {
  display: flex;
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
}

@media (max-width: 1120px) {
  header .container-content .item-redessociales .mensaje {
    display: none;
  }
}

@media (max-width: 800px) {
  header.cabecera-contactos {
    display: none;
  }
}

header .container-content .item-contactos div:nth-child(1) {
  margin-right: 2rem;
}

header .container-content .item-contactos div:nth-child(n) a {
  display: flex;
  align-items: center;
}

header .container-content .item-contactos div:nth-child(n) a span {
  color: var(--blanco);
  opacity: 0.8;
  transition-property: opacity;
  transition-duration: 250ms;
}

header .container-content .item-contactos div:nth-child(n) a:hover span {
  opacity: 1;
}

header .container-content .item-contactos div:nth-child(n) a i {
  margin-right: 0.6rem;
  color: white;
}

header .container-content .item-redessociales div:nth-child(n) a {
  color: white;
  opacity: 0.8;
  padding: 0 1rem;
  cursor: pointer;
}

header .container-content .item-redessociales div:nth-child(n) a:hover {
  opacity: 1;
}

header .container-content .item-redessociales div:nth-child(1) a {
  color: var(--azul-7);
  font-weight: 600;
  border-right: 1px solid var(--gris-1);
}

header .container-content .item-redessociales div:nth-child(1) a:hover {
  color: var(--color-azul2-muni);
}

/* fin */
/* Dise単o de la navbar */

header.cabecera-navb {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1.4rem 0;
  background-color: var(--blanco);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

/* @media (max-width: 1150px) {
  header.cabecera-navb {
    height: 5.9rem;
  }
} */

header.cabecera-navb .container-navb {
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  position: relative;
  text-transform: capitalize;
  /* position: fixed;
  top: 100px; */
  /* z-index: 9999; */
  /* transition: 0.7s; */
}

/* @media (max-width: 1550px) {
  header.cabecera-navb .container-navb {
    padding: 0.1rem 3rem;
  }
} */

/* Activamos el header scrooll */
/* header.cabecera-navb .container-navb.active-scroll {
  top: 0;
  padding: 0.1rem 2rem;
  background-color: var(--color-amarillo2-muni);
} */

/* @media (max-width: 1150px) {
  header.cabecera-navb .container-navb.active-scroll {
    padding: 0.1rem;
  }
} */

/* fin del header scrooll */
header .container-navb .navb-logo img {
  width: 5rem;
  height: 5rem;
}

/* header.cabecera-navb .navbar {
  display: flex;
  align-items: center;
  justify-content: center;
} */

header.cabecera-navb .navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header.cabecera-navb .navbar ul li {
  position: relative;
  float: left;
}

header.cabecera-navb .navbar ul li a {
  font-size: 1.6rem;
  padding: 1rem 0;
  display: block;
  margin-left: 2rem;
}

header.cabecera-navb .navbar ul li a:is(.active) {
  color: var(--azul-5);
}

header.cabecera-navb .navbar ul li a i {
  font-size: 1.2rem;
  margin-left: 0.8rem;
}

header.cabecera-navb .navbar ul li a:hover i.__drop {
  transform: rotateX(180deg);
}

header.cabecera-navb .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 20rem;
  background-color: var(--blanco);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  display: none;
}

header.cabecera-navb .navbar ul li ul li {
  width: 100%;
  border-top: 0.1rem solid var(--gris-8);
}

header.cabecera-navb .navbar ul li ul li ul {
  left: 20rem;
  top: 0;
}

header.cabecera-navb .navbar ul li:focus-within > ul,
header.cabecera-navb .navbar ul li:hover > ul {
  display: initial;
}

header.cabecera-navb .navb-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

header.cabecera-navb .navb-icons .item-icon {
  margin-left: 1.5rem;
}

header.cabecera-navb .navb-icons .item-icon:hover {
  cursor: pointer;
  color: var(--azul-5);
}

header.cabecera-navb .navb-icons .item-icon i {
  font-size: 2rem;
  font-weight: bold;
}

header.cabecera-navb .navb-icons .item-icon img {
  width: 4rem;
  height: 4rem;
}
/* dise単o de footer */

footer.container-fluid {
  background-color: #00273c;
  color: var(--color-gris-3);
  display: flex;
  justify-content: center;
}

footer .footer-content {
  max-width: 1320px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 1096px) {
  footer .footer-content {
    justify-content: space-around;
  }
}

footer .item {
  width: 420px;
  padding: 2rem 0;
  font-size: 1.4rem;
}

@media (max-width: 1303px) {
  footer .item {
    width: 390px;
  }
}

@media (max-width: 1213px) {
  footer .item {
    width: 350px;
  }
}

@media (max-width: 386px) {
  footer .item {
    word-break: break-all;
  }
}

footer .item hr {
  margin: 1rem auto;
  border: 0.2rem solid var(--color-gris-3);
}

footer .item h4 {
  text-align: center;
  font-size: 1.6rem;
  color: var(--color-azul2-muni);
  margin: 0;
  font-weight: 600;
}

footer .data-alcalde {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer .data-alcalde img {
  width: 150px;
  height: 150px;
  margin-bottom: 1rem;
  border-radius: 50%;
}

footer .data-alcalde h6 {
  text-align: center;
  color: var(--color-celeste-1);
  font-weight: bold;
  font-size: 1.4rem;
}

footer .data-alcalde label {
  text-align: center;
  font-weight: 600;
  color: white;
}

footer .item .list-sociales {
  display: flex;
  padding: 1.5rem 0;
  align-items: center;
}

footer .item .list-sociales div:nth-child(n) {
  display: flex;
  padding: 1.5rem;
  background-color: var(--color-gris-1);
  margin-right: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}

footer .item .list-sociales div:nth-child(n):hover {
  color: var(--color-azul2-muni);
}

footer .item .list-sociales div i {
  width: 1.8rem;
  height: 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .item p {
  text-align: justify;
  color: white;
}

footer .item p a:hover {
  color: white;
}

footer .item p i {
  margin-right: 10px;
}

footer.container-copy {
  width: 100%;
  background-color: var(--color-azul2-muni);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}

@media (max-width: 580px) {
  .footer.container-copy {
    word-break: break-all;
  }

  footer .footer-copyrigth {
    padding: 1.5rem !important;
  }
}

footer .footer-copyrigth {
  max-width: 1900px;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  font-weight: 600;
}

/* fin de footer */
/* dise単o del main */

main {
  padding: 0 !important;
  margin: 0;
  min-height: 40vh;
}

main section.container-section:not(.max-width) {
  margin: 0 auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 !important;
  font-size: 1.4rem;
}

main section.container-section:is(.max-width) {
  max-width: 1900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  font-size: 1.4rem;
  justify-content: center;
  align-items: center;
}
